.section-ajra {
  background-color: #f4f4f4;
  padding-top: 120px;
}

.steps-box:last-child {
  text-align: left;
  margin-top: 0px;
}

.superDog-box {
  margin-top: 0px;
}

.ajra-description {
  padding: 3% 0 3% 0%;
  line-height: 135%;
  margin-right: 25px;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.ajra-description > span {
  padding: 6%;
  align-self: center;
}

.ajra-small {
  width: 90%;
  margin: 5% 5% 0 5%;
  border-radius: 20px;
}

@media only screen and (max-width: 550px) {
  .section-ajra {
    padding-top: 80px;
  }
}