.before-buy {
  text-align: left;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 1%;
  line-height: 135%;

  letter-spacing: 0.6px;

  flex-direction: row;
  display: flex;
  align-items: center;
}

.sc-bdnxRM {
  padding: 1% 2% 0 0;
}

.text-center-normal {
  text-align: center;
  font-size: 110%;
  line-height: 140%;
  margin-bottom: 2%;
  letter-spacing: 0.6px;
  width: 70%;
  margin-left: 15%;
}

.p-question {
  margin-bottom: 5px;
  margin-top: 15px;
  text-align: left;
  width: 70%;
  margin-left: 15%;
}

.text-center-small {
  text-align: center;
  font-size: 100%;
  line-height: 135%;
  margin-top: 15px;
  width: 70%;
  margin-left: 15%;
}

.text-justifi-normal {
  text-align: justify;
  width: 70%;
  margin-left: 15%;
  line-height: 135%;
  margin-bottom: 3%;
  letter-spacing: 0.6px;
}

.section-before-buy {
  background-color: #f4f4f4;
}

@media only screen and (max-width: 1028px) {
  .before-buy {
    width: 80%;
    margin-left: 10%;
  }

  .before-buy-paw {
    width: 80%;
    margin-left: 10%;
  }
  .before-buy-heart {
    width: 80%;
    margin-left: 10%;
  }

  .text-center-normal {
    width: 80%;
    margin-left: 10%;
  }

  .text-center-small {
    width: 80%;
    margin-left: 10%;
  }

  .text-justifi-normal {
    width: 80%;
    margin-left: 10%;
  }

  .p-question {
    width: 80%;
    margin-left: 10%;
  }

  .sc-bdnxRM {
    padding: 1% 1.5% 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .before-buy {
    width: 90%;
    margin-left: 5%;
  }

  .before-buy-paw {
    width: 90%;
    margin-left: 5%;
  }
  .before-buy-heart {
    width: 90%;
    margin-left: 5%;
  }

  .text-center-normal {
    width: 90%;
    margin-left: 5%;
  }

  .text-center-small {
    width: 90%;
    margin-left: 5%;
  }

  .text-justifi-normal {
    width: 90%;
    margin-left: 5%;
  }

  .p-question {
    width: 90%;
    margin-left: 5%;
  }
}
