* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  height: 100vh;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ------ HEADINGS ------ */
h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  color: #fff;
  word-spacing: 5px;
  font-size: 210%;
  letter-spacing: 5px;
  font-weight: 300;
  margin: 40px 0px 35px 0;
}

h2 {
  color: #555;
  word-spacing: 2px;
  font-size: 180%;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 5%;

  text-align: center;
}

h2:after {
  display: block;
  height: 2px;
  width: 200px;
  background-color: #a471c1;
  content: " ";
  margin: 0 auto;
  margin-top: 15px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
}

h4 {
  color: #555;
  word-spacing: 1px;
  font-size: 140%;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 3%;
  margin-top: 5%;
  text-align: center;
}

h4:after {
  display: block;
  height: 1px;
  width: 400px;
  background-color: #a471c1;
  content: " ";
  margin: 0 auto;
  margin-top: 10px;
}

p {
  line-height: 135%;
}

/* ------ BUTTONS ------ */

/* ---------------------------------------- */
/* HEADERS NAV */
/* ---------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/ajra.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.zkwp-fci {
  height: 90px;
  width: auto;
  text-decoration: none;
}

.hero-text-box {
  width: 750px;
  float: right;
  text-align: right;
  margin: 4% 3% 0 0;
}

/* Main navi */

/* ---------------------------------------- */
/* SECTION AJRA */
/* ---------------------------------------- */

/* ---------------------------------------- */
/* SECTION o nas */
/* ---------------------------------------- */

/* ---------------------------------------- */
/* SECTION Zanim kupisz psa */
/* ---------------------------------------- */

/* ---------------------------------------- */
/* SECTION Nasze szczeniaczki */
/* ---------------------------------------- */

.puppy-showcase {
  list-style: none;
  width: 100%;
}

.puppy-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.puppy-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.puppy-photo img {
  opacity: 0.7;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: auto;
  transform: scale(1.06);
  transition: transform 0.5s, opacity 0.5s;
}

.puppy-photo img:hover {
  opacity: 1;
  transform: scale(1.25);
}

/* ---------------------------------------- */
/* FOTTER Nasze szczeniaczki */
/* ---------------------------------------- */

/* 
KONTAKT 
*/

.section-kontakt {
  background-color: #f4f4f4;
  padding: 80px 0 40px 0;
}

.kontakt-box:first-child {
  text-align: center;
  padding-right: 0%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.kontakt-box:last-child {
  padding-left: 0%;
  margin-top: 5%;
}

.app-screen {
  width: 50%;
}

.works-step {
  margin-bottom: 50px;
  text-align: left;
}

.photo-iza {
  width: 50%;
  border-radius: 100%;
  margin-right: 10px;
  box-shadow: 0 0 1em #a471c1;
}

.map-icon_third {
  color: #a471c1;
  text-align: left;
  font-size: 200%;
  padding: 0px 0 10px 0;
}

.map-icon {
  color: #a471c1;
  text-align: left;
  font-size: 200%;
  padding: 40px 0 10px 0;
}

.mapa {
  margin-right: 0px;
  margin-top: 70px;
  width: 60%;
  border-radius: 20px;
}

.link {
  text-decoration: none;
  color: #555;
}
