.header {
  display: inline-block;
  margin-left: 40px;
}

.header a:link,
.header a:visited {
  padding: 8px 0;
  text-decoration: none;
  font-size: 90%;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 1s;
}

.header a:hover,
.header a:active {
  border-bottom: 2px solid rgba(100, 58, 124, 0.7);
}

/* Footer button */



.footer a:link,
.footer a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.658);
  padding-bottom: 1px;
  border-bottom: none;
  transition: color 0.5s;
}

.footer a:hover,
.footer a:active {
  text-decoration: none;
  color: rgb(100, 44, 133);
}

.footer {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 850px) {
  .footer {
    margin-left: 5px;
    margin-right: 5px;
  }

  .header{
    margin-left: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .header{
    margin-left: 15px;
  }
}

