footer {
  background-color: #a471c16b;
  color: #fff;
  font-size: 90%;
  padding: 0.5%;
}

.p-footer {
  font-size: 50%;
  font-weight: 400;
  float: left;
  opacity: 1;
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #555;
}

.footer-nav {
  list-style: none;
}

.footer-nav {
  float: left;
  font-size: 90%;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #555;
}
