.main-nav {
  float: left;
  list-style: none;
  margin: 2% 2% 0 0;
  display: flex;
  align-items: center;
}


.logo-nav{
  display: flex;
  align-items: center;
  text-align: center;

}

/* Sticky navi */
.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.986);
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 9px 60px rgba(0, 0, 0, 0.253);
  z-index: 9999;
}

.sticky .main-nav {
  margin: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 8px 0;
  color: #555;
}

@media only screen and (max-width: 680px) {
  h1 {
    font-size: 150%;
  }
  .main-nav{
    font-size: 95%;
  }
}

@media only screen and (max-width: 650px) {
  
  .main-nav{
    font-size: 95%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 1% 1% 0 0;
    
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 130%;
  }
  
}

@media only screen and (max-width: 457px) {
  h1 {
    font-size: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .main-nav {
    display:flex;
    text-align: center;
    align-items: center;
    
  }
  .main-nav li {
    display:flex;
    margin: 0px 10px;
    align-items: center;
    font-size: 80%;
  }
}

@media only screen and (max-width: 480px) {
  

  .sticky .main-nav {
    margin: 5px;
}
}