.social-links {
  float: right;
  font-size: 300%;
  margin-top: 1px;
}

.social-links li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.658);
  padding-bottom: 1px;
  border-bottom: none;
  transition: color 0.5s;
}

.fb:hover,
.fb:active {
  text-decoration: none;
  color: #3b5998;
  transition: color 0.5s;
}
